#checkbox{
display:none;
}

.switch{
position:relative;
width:80px;
height:80px;
background-color:rgb(99,99,99);
border-radius:50%;
z-index:1;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
border:2pxsolidrgb(126,126,126);
box-shadow:0px0px3pxrgb(2,2,2)inset;
}

.switchsvg{
width:1.2em;
}

.switchsvgpath{
fill:rgb(48,48,48);
}

#checkbox:checked+.switch{
box-shadow:0px0px1pxrgb(5,142,240)inset,
0px0px2pxrgb(5,142,240)inset,0px0px10pxrgb(5,142,240)inset,
0px0px40pxrgb(5,142,240),0px0px100pxrgb(5,142,240),
0px0px5pxrgb(5,142,240);
border:2pxsolidrgb(255,255,255);
background-color:rgb(146,180,184);
}

#checkbox:checked+.switchsvg{
filter:drop-shadow(0px0px5pxrgb(5,142,240));
}

#checkbox:checked+.switchsvgpath{
fill:rgb(255,255,255);
}

body{
background:#000000ea;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
margin:0;
font-family:'SegoeUI',Tahoma,Geneva,Verdana,sans-serif;
overflow:hidden;
}

#login-container{
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
background:url('image/back2.jpg')no-repeatcentercenter/cover;
z-index:9999;
display:none;
align-items:center;
justify-content:center;
}

.login-box{
background:rgba(255,255,255,0.1);
border-radius:15px;
padding:30px;
box-shadow:08px32px0rgba(31,38,135,0.37);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);
color:white;
width:300px;
text-align:center;
}

.login-boxinput{
width:100%;
padding:10px;
margin:10px0;
border:none;
border-radius:5px;
}

.login-boxbutton{
width:100%;
padding:10px;
background-color:#0078d4;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}